@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student: @ViewData["Student"]</p>

<address>
    <strong>More info at: <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">Udemy.com.br</a> </strong>
</address>
